name: Docker build

on:
  pull_request:
    branches: [ "master" ]

jobs:
  docker-build:
    runs-on: ubuntu-24.04
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v5
      - name: Build Docker image
        run: docker build -t "${REGISTRY}/${IMAGE_NAME}" .

